/*font-family: "Trebuchet MS",helvetica,arial,sans-serif;*/
body {
	/*font-family: garamond,times,serif;*/
	font-size: 16px;
	color: #ffff99;
	background-color: #000;
  border: deeppink 1px solid;
}

ul, header, footer {
  border: deeppink 1px solid;
}

/*heading elements*/
h1 {
  font-size: 42px;
  font-family: "Josefin Sans", helvetica, arial, sans-serif;
}

/*codeBit grid*/
.codePortfolio {
  margin-left: 30px;
  margin-right: 50px;
}

.codeBit {
  display: inline-block;
  margin-left: 20px;
}

/*codeBit style*/
.update, .bitTitle {
	display: block;
	margin-bottom: 20px;
}

.codeBit .desc {
	margin-top: 10px;
	margin-bottom: 10px;
}

.centeringContainer {
	text-align: center;
}
/* bubble wrap */
#bubbleWrap .makeBubbles div {
	background-color: #fff;
	border-radius: 50%;
	display: inline-block;
	width: 50px;
  height: 50px;
	position: relative;
	border: solid 2px #000;
	opacity: .7;
}


#bubbleWrap form {
	display: inline;
}

#bubbleWrap form input {
	width: auto;
	padding: 2px;
}

#bubbleWrap .create
 {
	border-radius: 0px;
	width: auto;
	padding: 4px;
	height: auto;
	display: inline;
}

/*Poke My Cat*/
#petPoke {
  float: right;
}

#petPoke img,
#petPoke .results {
	/*margin-top: 100px;
	text-align: center; */
  display: block;
	width: 180px;
  margin-right: 15px;
}

@media (max-width: 360px) {
	#petPoke img {
		width: 50%;
	}

  #petPoke {
    float: inherit;
  }
}

#petPoke .results {
  margin-top: 4px;
  padding: 20px;
  color: #000;
  background-color: #fff;
  border-radius: 40px;
  overflow: hidden;
  display: inline-block;
  font-family: arial,sans-serif;
}

#focusIn {
	width: auto;
}

#magnifyingArea {
	width: auto;
	text-align: center;
	cursor: none;
	display: inline-block;
}

#magnifiedImage {
	border-radius: 0;
}

#magnifyingGlass {
	display: none;
	position: absolute;
	width: 200px;
	height: 200px;

	border-radius: 100%;
	background-repeat: no-repeat;
	background-image: url("../../Program_Blog/Focus_In/worldsfair11-hr.jpg");

	/*background: url(../../Program_Blog/Focus_In/worldsfair11-hr.jpg) 20px 20px;*/
}

#magnifyingGlass img {

}

div#magnifyingArea:hover #magnifyingGlass {
	display: block;
}



