body {
  box-sizing: border-box;
	color: #fffde7;
	background-color: #4527A0;
  background: -webkit-linear-gradient(left, #4527A0 , #0085B2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #4527A0, #0085B2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #4527A0, #0085B2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #4527A0 , #0085B2); /* Standard syntax */
  border: deeppink 1px solid;
  font-family: "Josefin Sans", helvetica, arial, sans-serif;
}

ul, header, footer {
  border: deeppink 1px solid;
}

a:visited {
  color: #fffde7;
}

h1 {
  font-size: 48px;
  font-family: "Josefin Sans", helvetica, arial, sans-serif;
  font-weight: 700;
}

/*heading elements*/
.nameBar {
  position: relative;
  height: 100px;
  display: flex;
  align-items: center;
}
.nameBar h1 {
  display: inline-block;
  margin-left: 10%;
}

.socialLinksTop {
  display: inline-block;
  margin-left: auto;

}

.socialLinksTop li {
  display: inline-block;
  background-color: rgba(0, 0, 0, .5);
  height: 48px;
  width: 48px;
  border-radius: 100%;
  font-size: 33px;
  text-align: center;
}

.socialLinksTop .fa {
  font-size: 30px;
  margin-top: 8px;
  color: #fffde7
}

.navBar {
  background-color: rgba(0, 0, 0, .5);
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-bottom: 25px;
}

.navBar li {
  display: inline-block;
  margin-right: 40px;
}

.navBar li:first-child {
  margin-left: 10%;
}

.navBar li:last-child {
  margin-right: 0;
}

/*Personal intro elements*/
.selfIntro {
  background-color: rgba(0, 0, 0, .5);
  width: 980px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 25px;
  font-size: 20px;
  margin-left: 10%;
  margin-bottom: 25px;
}

.primaryIntro h2{
  font-family: "Josefin Sans", helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
}

button.actionIntro {
  background-color: transparent;
  border: 2px solid #FFFDE7;
  border-radius: 10px;
  padding: 10px 25px;
  margin: 25px;
  font-weight: 700;
}

.secondaryIntro h3{
  font-family: "Josefin Sans", helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

/*codeBit elements*/
.codeBit {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .5);
  width: 980px;
  box-sizing: border-box;
  margin-left: 10%;
  margin-bottom: 25px;
}

.codeBit, .codeBit img {
  height: 150px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

li.codeBit > * {
  display: inline-block;

}

/*footer elements*/
footer {
  background-color: rgba(0, 0, 0, .5);
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.socialLinksBottom li {
  display: inline-block;
}

/* focusIn elements*/
.centeringContainer {
	text-align: center;
}

#focusIn {
	width: auto;
}

#magnifyingArea {
	width: auto;
	text-align: center;
	cursor: none;
	display: inline-block;
}

#magnifiedImage {
	border-radius: 0;
}

#magnifyingGlass {
	display: none;
	position: absolute;
	width: 200px;
	height: 200px;

	border-radius: 100%;
	background-repeat: no-repeat;
	background-image: url("../../Program_Blog/Focus_In/worldsfair11-hr.jpg");
}

div#magnifyingArea:hover #magnifyingGlass {
	display: block;
}



